body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #292929;
  color: #ffffff;
  
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

#time-blocks {
  

  background-image: linear-gradient(#150c76, #000645) ;
  padding: 20px;
  
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  /* border-radius: 0; */
  border-bottom: 10px solid black;

  /* width: 90%; */
}

.description{
  white-space: pre-wrap;
}

#time-blocks{
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000000;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour span{
  background-color: #ffffffdd;
  color: #000000;
  border-top: 1px solid #000000;
  width: 100px;
  font-size: 30px;
  /* border-radius: 0; */
}

.hour {
  /* border-style: solid; */
  /* border-radius: 0; */
  /* border-radius: inherit; */
}

.past, .past:focus {
  background-color: #d3d3d377;
  color: white;
  
}

.present, .present:focus {
  background-color: #ff6961dd;
  color: white;
}

.future, .future:focus {
  background-color: #77dd77dd;
  color: white;
}

.stacked {
  margin-top: -45px;
}
.unstacked {
  margin-top: 5px;
}



.saveBtn {
  border-left: 1px solid black;
  /* border-top-right-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  background-color: #06AED5;
  color: white;
  border-color: #000000;
  width: 60px;
  font-size: 40px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.form-control, .input-group {
  border-color: #000000;
}

.input-group {
  /* position: relative; */
  /* top: 80px; */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  /* margin: 5px; */
  box-shadow: 2px 2px 5px #000000;
  /* margin-top: -5px; */
  /* margin-left: -10px; */
  /* border-radius: 10px; */
  
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}



